[submodule "extern/charls-js"]
	path = extern/charls-js
	url = https://github.com/chafey/charls-js.git
[submodule "extern/openjphjs"]
	path = extern/openjphjs
	url = https://github.com/chafey/openjphjs.git
[submodule "extern/openjpegjs"]
	path = extern/openjpegjs
	url = https://github.com/chafey/openjpegjs.git
[submodule "extern/dagcom-test-data"]
	path = extern/dagcom-test-data
	url = https://github.com/chafey/dagcom-test-data.git